.header-main .inner-wrap a:nth-child(2){
    text-decoration: underline;
    color: #c6c5c5;
}

.section-one .main {
    max-width: 900px;
    width: 100%;
    margin: 0 19px;
    padding: 20px 0 0 30px;
}


.section-one {
    margin-top: 7px;
}

.section-one .wrapper {
    margin-top: 10px;
    border-radius: 20px;
    padding: 30px;
    background: #dfebff;
    position: relative;
    margin-bottom: 30px;
}

.section-one .wrapper:nth-child(3){
    background-color: #fff5de;
}

.section-one .wrapper:nth-child(4){
    background-color: #e4b5b4;
}


.section-one .catalogue {
    position: absolute;
    left: 60px;
    top: -11px;
    background: var(--color2);
    padding: 8px;
    border-radius: 30px 30px 30px 0;
    font-weight: 500;
    color: #fff;
    overflow: visible;
}

.section-one .content-top  {
    display: flex;
    justify-content: space-between;
}

.section-one .user-vote {
    display: flex;
    align-items: center;
}

.section-one .voter {
    width: 24px;
    height: 24px;
}

.section-one .number-vote {
    margin-left: 10px;
    font-size: 16px;
}

.section-one .photo-post {
    margin-top: 25px;
    display: flex;
}

.section-one .photo {
    width: calc(100%/2 - 5px);
    margin-right: 5px;
    margin-bottom: 5px;
}

.section-one .photo-post:nth-child(2) {
    margin-bottom: 0;
}

.section-one .photo-post:nth-child(3) {
    margin-top: 0;

}

.user-post .photo img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    aspect-ratio: 4/3;
}

.user-post .photo:nth-child(3) img {
    aspect-ratio: 4/3;
    height: 245px;
    width: auto;
}

.section-one .wrapper:nth-child(3) .photo {
    width: 100%;
}

.section-one .wrapper:nth-child(3) .photo img {
    width: 100%;
    aspect-ratio: 2.2/1;
    object-fit: cover;
}

.section-one .header-sec h2 {
    font-size: 24px;
}

.section-one .header-sec h3 {
    font-size: 15px;
    color: #b5bac7;
    margin-left: 20px;
    font-weight: 600;
}

.section-one .header-sec h3:nth-child(1){
    color: black;
}

.section-one .header-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-one .header-sm {
    display: flex;
}

.section-one .sidebar {
    overflow: auto;
    border: 1px dashed #d3d3d3;
    margin-left: 10px;
    width: calc(25% - 5px);
    padding-top: 42px;
    height: 520px;
}

.section-one .chart-top {
    position: absolute;
    top: 183px;
    right: 173px;
    background: var(--color1);
    padding: 8px;
    border-radius: 30px;
    font-weight: 500;
    color: #fff;
    font-size: 20px;
}

.section-one .sidebar ul {
    text-align: center;
}

.user-cmt {
    margin-top: 15px;
    display: flex;
    background: #fff;
    border-radius: 100px;
    padding: 10px 10px 0 10px;
    width: 100%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

}

.user-cmt .inner-content {
    width: 100%;
}

.user-cmt .writer {
    width: 100%;
}

.user-cmt .user-ask {
    width: 100%;
}

.user-cmt .content {
    width: 100%;
    color: #c8c8c8;
    font-weight: 500;
}





.section-main {
    margin-top: 135px;
}

.section-main .container-2 {
    display: flex;

}

.section-main .inner-menu {
    max-width: 200px;
    width: 100%;
    background: #fff;
    height: 100%;
    top: 135px;
    left: 0;
    padding: 30px 7px;
    height: 2000px;
    position: sticky;
}
/* background: rgb(244,244,244); */

.section-main .sidebar {
    max-width: 333px;
    width: 100%;
    background: #fff;
    position: fixed;
    height: 500px;
    /* top: 135px;
    right: 0; */
    overflow: auto;
    /* border: 2px solid #a5aab1; */

}

.section-main .section-one {
    max-width: 1100px;
    width: 100%;
    /* background: rgb(245, 244, 244); */
    /* box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1); */
}


.section-main .inner-menu h2 {
    width: 100%;
    height: 73px;
    font-size: 27px;
    font-weight: 700;
    padding: 10px 10px 0 0;
    margin: 0 0 20px 0;
}

.section-main .inner-menu .look-up {
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding-right: 165px;
    margin-bottom: 10px;
    color: #99999a;
}

.section-main .inner-menu .look-up span {
    margin-left: 10px;
}


.section-main .inner-menu h2 {
    width: 100%;
    height: 73px;
    font-size: 27px;
    font-weight: 700;
    padding: 10px 10px 0 0;
    margin: 0 0 20px 0;
}

.section-main .inner-menu .look-up {
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding-right: 68px;
    margin-bottom: 10px;
    color: #99999a;
}

.section-main .inner-menu .look-up span {
    margin-left: 10px;
}

.section-main .list-trend .box-trend {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-main .list-trend .box-inf {
    display: flex;
    align-items: center;
}

.section-main .list-trend .box-inf a i {
    font-size: 40px;
    margin-right: 10px;
    color:  #b3c7e4;
}

.section-main .box-decs .inner-title {
    margin: 5px 0;
}

.section-main .box-decs .num-cmt {
    color: #c8c8c8;
}




.side-bar .wrapper {
    padding: 23px 20px;
}

.chart-top {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.user-chart {
    display: flex;
    align-items: center;
    border: 2px solid #a5aab1;
    border-radius: 40px;
    padding: 5px;
    margin-bottom: 20px;
}

.user-chart a img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 7px;
}

.user-chart .name {
    font-weight: 700;
    margin-right: 10px;
    border-right: 2px solid #a5aab1;
    padding-right: 10px;
    font-size: 14px;
}

.user-chart .inner-title {
    font-size: 16px;
}




